html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-control {
    margin-bottom: 4%;
}

.form-group {
    margin-bottom: 4%;
}

.shoeContainer {
    width: 25%;
}

.shoeContainer img {
    width: 100%;
}

.shoeContainer a {
    text-decoration: none;
}